.menu{
    width: 100%;
    background: #0593f7;
    border-bottom: 1px solid #CCC;
    box-shadow: 1px 2px 3px #CCC;
}
.menuItemLogo a{
    color: #ffffff;
    font-weight: 700;
    text-shadow: 1px 1px 2px #a5a5a5;
}
.menuItem a{
    color: #FFF;
    font-weight: 700;
}
.nameApp{
    font-size: 25px;
}